<app-header></app-header>
<!-- Page Content -->
<div class="container">
  <br>
  <br>

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail"src="https://source.unsplash.com/aJeH0KcFkuc/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail"src="https://source.unsplash.com/aob0ukAYfuI/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail " src="https://source.unsplash.com/EUfxH-pze7s/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail " src="https://source.unsplash.com/sesveuG_rNo/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "   src="https://source.unsplash.com/M185_qYH8vg/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "  src="https://source.unsplash.com/AvhMzHwiE_0/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "  src="https://source.unsplash.com/G9Rfc1qccH4/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "  src="https://source.unsplash.com/2gYsZUmockw/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "  src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" 
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail " src="https://source.unsplash.com/8mUEy0ABdNE/400x300" 
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    
    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail " src="https://source.unsplash.com/G9Rfc1qccH4/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail " src="https://source.unsplash.com/aJeH0KcFkuc/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-item">
          <img class="img-fluid img-thumbnail "  src="https://source.unsplash.com/M185_qYH8vg/400x300"
            alt="Image">
        </div>
        <div class="cardbox-base">
          <ul>
            <li><a href=""><i class="fa fa-thumbs-up"></i></a></li>
            <li><a><span>242 Like</span></a></li>
          </ul>
          <ul>
            <li><a href="" ><i class="fa fa-thumbs-down"></i></a></li>
            <li><a><span>15 Dislike</span></a></li>
          </ul>
        </div>
      </div>
    </div>

 
  

  </div>

</div>

<app-footer></app-footer>