{% extends "views/index.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="card mb-4 py-3 border-left-success message">
    <div class="card-body ">
        {{ message }}<a class="del-msg">&times;</a>
    </div>
</div>
{% else %}
<div class="card mb-4 py-3 border-left-danger message">
    <div class="card-body ">
        <span> {{ message }}</span><a class="del-msg">&times;</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <span class="m-0 font-weight-bold text-primary">Eliminar imágenes de la galería</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for imagen in imagenes %}
                    <tr>
                         <td>{{imagen.id}}</td>
                        <td>{{imagen.image}}</td>
                        <td>
                            <a href="{% url 'eliminar_galeriaPK' imagen.id %}" class="btn btn-success btn-circle btn-sm">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{% url 'eliminar_galeriaPK' imagen.id %}" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                    </td>                       
                    </tr>
                    {% endfor %}



            </table>
        </div>
    </div>
</div>




{% endblock  %}