{% extends "views/index.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="card mb-4 py-3 border-left-success message">
    <div class="card-body ">
        {{ message }}<a class="del-msg">&times;</a>
    </div>
</div>
{% else %}
<div class="card mb-4 py-3 border-left-danger message">
    <div class="card-body ">
        <span> {{ message }}</span><a class="del-msg">&times;</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}


{% block css %}
{% load static %}
<link href="{% static 'css/util.css' %}" rel="stylesheet">
{% endblock %}


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <span class="m-0 font-weight-bold text-primary">Eliminar imágenes de la galería</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for imagen in imagenes %}
                    <tr>
                         <td>{{imagen.id}}</td>
                        <td>     
                                <div id="hover_img">
                                    <a id="previs" href="#">{{imagen.image}}<span id="spn"><img id="im"src="{% get_media_prefix %}{{imagen.image}}" alt="image" height="100" /></span></a>
                                </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-circle btn-sm " type="button" data-galeria="{{imagen.id}}"
                                href="" data-toggle="modal" data-target="#ConfirmModalGaleria">
                                <i class="fas fa-trash"></i>
                            </button>
                    </td>                       
                    </tr>
                    {% endfor %}



            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmModalGaleria" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalGaleria" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro de querer eliminar?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'eliminar_galeria_p' %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    Elige la opcion que deseas realizar.
                        {% csrf_token %}
                        <input type="hidden" id="galeria_id" name="galeria_id">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" >Si, eliminalo</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function (event) {
        $('#ConfirmModalGaleria').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var tema_modal = button.data('galeria')

            var modal = $(this)

            modal.find('.modal-body #galeria_id').val(tema_modal);
        });
    });

</script>


{% endblock  %}

