{% extends "views/index.html" %}
{% block content %}


<div class="card mb-4 py-3 border-left-success message " id="succ" style="display: none;">
    <div class="card-body ">
        Guardado Exitoso<a class="del-msg">&times;</a>
    </div>
</div>
<div class="card mb-4 py-3 border-left-danger message "   id="error"style="display: none;">
    <div class="card-body ">
        <span>Error en el guardado</span><a class="del-msg">&times;</a>
    </div>
</div>

<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Contenido Multimedia</h6>
      {% csrf_token %}
      <!--<div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Opciones:</div>
          <a class="dropdown-item"  id="addimg" href="#">Agregar más imágenes</a>
          <a class="dropdown-item" id="addvideo" href="#">Agregar más videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"></a>
        </div>
      </div>-->
    </div>
    <!-- Card Body -->
    <div class="card-body">
                       
<div class="card shadow mb-4 border-bottom-info">

    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Subir Imágenes</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body ">
        {% csrf_token %}


        <div class="form-group row" id="image">
          <label class="col-md-3 col-form-label" for="imagen1"><strong> Seleccione la imagen </strong></label>
          <div class="col-md-4">
            <input id="image-input" type="file" name="images" accept="image/*" required="">
          </div>
          <div class="col-md-5 text-right">
            <a  class="btn btn-success btn-circle" id="addimg">
              <i class="fa fa-plus-circle"></i>
            </a>
          </div>
        </div>  
             
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-icon-split" type="submit" href="{%url 'galeria'%}"  id="postimages">
          <span class="icon text-white-50">
            <i class="fas fa-check"></i>
          </span>
          <span class="text">Guardar</span>
        </button>
      </div>  
    </div>
  </div>

  <div class="card shadow mb-4 border-bottom-info">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample2" class="d-block card-header py-3  " data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
      <h6 class="m-0 font-weight-bold text-primary">Subir Videos</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample2">
      <div class="card-body ">


        <div class="form-group row" id="video">
          <label class="col-md-3 col-form-label" for="imagen1"><strong> Seleccione video </strong></label>
          <div class="col-md-4">
            <form enctype="multipart/form-data" method="POST" action="{%url 'recibir_video'%}">
              {% csrf_token %}
            <input id="video-input" type="file" name="videos" accept="video/*" required="">
          </div>
          
        </div> 

      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-icon-split" type="submit" id="postvideos">
          <span class="icon text-white-50">
            <i class="fas fa-check"></i>
          </span>
          <span class="text">Guardar</span>
          </form>
        </button>
      </div>
      
    </div>
    
  </div>
  


    </div>
  </div>
<script>
$(document).ready(function(){

});
</script>

{% endblock  %}