<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->

<header class="header-area">


    <!-- Navbar Area -->
    <div class="faith-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="faithNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a routerLink="/">Inicio</a></li>
                                <li class="dropdown mx-auto"><a href="#">Temas</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="ministries.html">Ministries</a></li>
                                        <li><a href="sermons.html">Sermons</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li><a href="ministries.html">Tips</a></li>
                                <li><a routerLink="/galeria">Galeria</a></li>
                                <li><a href="contact.html">Sugerencias</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-btn">
                                <a [routerLink]="['login']" >Login <i class="fa fa-sign-in fa-3" width="50px" aria-hidden="true"></i>   </a>
                            </div>

                            <!-- Donate Button -->
                            <div class="donate-btn">
                                <a href="#">Donación</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
